* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-container {
  min-height: 80vh;
  padding: 20px 60px;

}

.top-header {
  background-color: slategrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}
.top-header h1 {

}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-links a {
  font-size: 23px;
  color: skyblue; 
}
.active {
  font-weight: 700;
  color: pink !important;
}

footer {
  height: 100px;
  background-color: pink;
}
